body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-color: #1f2937;
    padding: 0 400px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.logo {
    color:#f9faf8;
    font-size: 24px;
    font-weight: 800;
}

 ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 14px;
    list-style-type: none;
 }

.right {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    padding: 120px 0;
    
}

.signup {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 18px;
    color: #e5e7eb;
    flex: 1;
}

.signup .signup-main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.placeholder {
    flex: 1;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

button { 
    background-color: #3882f6;
    align-self: flex-start;
    margin: 0;
    padding: 8px 32px;
    border-radius: 8px;
    border: 0px;
    font-size: 18px;
    color: #e5e7eb;
}

.header-random-information {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 40px 0;
}

.random-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 400px;
    padding: 0 150px;
}

.box {
    height: 160px;
    width: 160px;
    background-color: white;
    border: solid 3px  #3882f6;
    border-radius: 12px;
    flex-grow: 1;
}

.subtext {
    flex: 1;
    min-width: 80px;
    margin-top: -30px;
}

.quote-content {
    background-color: #e5e7eb;
    margin-top: 60px;
}

.quote-section {
    margin: 0 400px;
    padding: 80px 150px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.thor-quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
    display: flex;
    justify-content: flex-end;
}