body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-color: #1f2937;
    padding: 0 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.logo {
    color:#f9faf8;
    font-size: 24px;
    font-weight: 800;
}

 ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 14px;
    list-style-type: none;
 }

.right {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 120px 0;
}

.signup {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 18px;
    color: #e5e7eb;
    flex: 1;
}

.signup .signup-main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.placeholder {
    flex: 1;
    background-color: gray;
}

button { 
    background-color: #3882f6;
    align-self: flex-start;
    margin: 0;
    padding: 12px;
    border-radius: 8px;
    border: 0px;
    font-size: 18px;
    color: #e5e7eb;
}

